/*! capsule9.io v0.4.2 | MIT License | github.com/omiologic/capsule9 */
@charset "utf-8";

@import "bulma";
@import "./components/index";


.app {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  .app-header {
    //flex: 0 0 auto;
  }
  .app-section {
    flex: 1 0 auto;
    display: flex;
    flex-direction: row;
    height: 100%;
    > div:nth-child(0) {
      order: 0;
    }
    > div:nth-child(1) {
      order: 1;
    }
    > div:nth-child(2) {
      order: 2;
    }
    > div:nth-child(3) {
      order: 3;
    }
  }
  .app-content {
    flex-grow: 1;
    overflow-y: auto;
  }
}


/* Content & content elements */

.content {
  padding: 20px 25px;
}
.content.content-full-width {
  padding: 0;
}

